<dx-validation-group #validationGroup>
    <form (submit)="postVersion($event)">
        <div class="dx-field-label w-33"> {{ 'version.version' | translate }}*:
            <dx-text-box [(value)]="versionString" (onValueChanged)="parseVersionString($event)" width=100% [disabled]="!canEdit" class="dx-field-value">
                <dx-validator>
                    <dxi-validation-rule type="required" [message]="'table.mandatory-field' | translate"></dxi-validation-rule>
                    <dxi-validation-rule type="pattern" [message]="'incorrect-format' | translate" [pattern]="patternVersion"></dxi-validation-rule>
                </dx-validator>
            </dx-text-box>
        </div>
        <div class="dx-field-label w-50"> {{ 'version.description' | translate }}:
            <dx-text-area [(value)]="version.description" style="height: auto;" [maxHeight]="300" [maxLength]="2000" width="100%" class="dx-field-value"  (onValueChanged)="onValueChanged($event, 'description')" [disabled]="!canEdit">
            </dx-text-area>
        </div>
        <div class="dx-field-label w-50">{{ 'version.total-duration' | translate }}:
            <dx-number-box [(value)]="version.total_duration" width="100%" class="dx-field-value" [disabled]="true">
            </dx-number-box>
        </div>
        <div class="dx-field-label w-50">{{ 'version.total-num-people' | translate }}:
            <dx-number-box [(value)]="version.total_num_people" width="100%" class="dx-field-value" [disabled]="true">
            </dx-number-box>
        </div>
        <div class="dx-field-label w-50">{{ 'version.grade' | translate }}*:
            <dx-number-box [(value)]="version.grade" (onValueChanged)="onValueChanged($event, 'grade')" width="100%" class="dx-field-value">
                <dx-validator>
                    <dxi-validation-rule type="required" [message]="'table.mandatory-field' | translate"></dxi-validation-rule>
                    <dxi-validation-rule type="pattern" [message]="'positive-number' | translate" [pattern]="patternPositive"></dxi-validation-rule>
                </dx-validator>
            </dx-number-box>
        </div>
        <div class="dx-field-label w-50" *ngIf="processes">
            {{ 'version.process' | translate }}*:
            <dx-select-box displayExpr="name" valueExpr="id" searchMode="contains" searchExpr="name" [searchEnabled]="true" [acceptCustomValue]="false" [(value)]="version.process_id" [items]="processes" (onValueChanged)="onValueChanged($event,'process_id')">
            </dx-select-box>
        </div>

        <div class="w-100 m-10" *ngIf="!version.id && canEdit">
            <dx-button [text]="'table.save' | translate" icon="save" stylingMode="text" [useSubmitBehavior]="true">
            </dx-button>
        </div>
    </form>
</dx-validation-group>