<ng-container *ngIf="version$ | async as version">
    <div class="d-flex flex-column">
        <h2 class="fw-bold title-mobile overview">{{ 'version.versions' | translate }}</h2>
        <span>
            <a class="title" routerLink="/dashboard">{{ 'header.dashboard' | translate }}</a> / 
            <a class="title" routerLink="/project"> {{ 'header.projects' | translate }}</a> / 
            <a class="title" *ngIf="project$ | async as project" [routerLink]="'/project/' + project.id"> {{ project.name }}</a> / 
            <a class="title" routerLink="../"> {{ processName }}</a> / 
            <a class="title" [routerLink]="'/project/projectId/' + processId + '/' + versionId"> {{ version.major }}.{{ version.minor }}{{ version.patch }}</a>
        </span>
        <app-version-data [version]="version" [processes]="process$ | async" [canEdit]="true">
        </app-version-data>
    </div>

    <div class="d-flex flex-column" *ngIf="version.id">
        <h2 class="fw-bold title-mobile overview">{{ 'activity.activities' | translate }}</h2>
        <app-activity-table [activity]="activities$ | async" (refreshActivities)="refreshActivities()" [versionId]="versionId">
        </app-activity-table>
    </div>
</ng-container>