<dx-validation-group #validationGroup>
    <form (submit)="postProject($event)">
        <div class="dx-field-label w-50"> {{ 'project.name' | translate }}*:
            <dx-text-box [(value)]="project.name" (onValueChanged)="onValueChanged($event, 'name')" width=100% class="dx-field-value">
                <dx-validator>
                    <dxi-validation-rule type="required" [message]="'table.mandatory-field' | translate"></dxi-validation-rule>
                </dx-validator>
            </dx-text-box>
        </div>
        <div class="dx-field-label w-50"> {{ 'project.description' | translate }}:
            <dx-text-area [(value)]="project.description" style="height: auto;" [maxHeight]="300" [maxLength]="2000" width="100%" class="dx-field-value" (onValueChanged)="onValueChanged($event, 'description')">
            </dx-text-area>
        </div>
        <div class="dx-field-label w-50">{{ 'project.num-processes' | translate }}:
            <dx-number-box [(value)]="project.num_processes" width="100%" class="dx-field-value" [disabled]="true">
            </dx-number-box>
        </div>
        <div class="w-100 m-10" *ngIf="!project.id && !canEdit">
            <dx-button [text]="'table.save' | translate" icon="save" stylingMode="text" [useSubmitBehavior]="true">
            </dx-button>
        </div>
    </form>
</dx-validation-group>