<!-- TOGGLE MOBILE BUTTON ICON-->
<button class="btn menu-icon" id="sidebar-toggle-button" (click)="toggleMenu()" [ngClass]="{ 'button-hidden': isMenuOpen }">
	<i class="bi bi-list"> </i>
</button>
<nav id="sidebar" [ngClass]="{ 'mobile-sidebar-open': isMenuOpen }" class="language-icon">
    <!-- CLOSE MOBILE MENU BUTTON-->
    <button class="btn text-white menu-icon" id="close-mobile-menu-button" *ngIf="isMenuOpen" (click)="toggleMenu()">
		<i class="bi bi-chevron-left"> </i>
	</button>
    <div class="sidebar-content">
        <ul class="nav d-flex flex-column flex-nowrap">
            <!-- PROFILE IMAGE-->
            <div class="logo-image text-center"></div>
            <div>
                <li [routerLinkActive]="['active']" class="nav-item">
                    <a class="nav-link" (click)="toggleMenu()" routerLink="/project">
                        <i class="bi bi-list-check"></i> {{ 'header.projects' | translate }}
                    </a>
                </li>
                <li [routerLinkActive]="['active']" class="nav-item">
                    <a class="nav-link" (click)="toggleMenu()" routerLink="/insights">
                        <i class="bi bi-bar-chart-steps"> </i> {{ 'header.insights' | translate }}
                    </a>
                </li>
                <li [routerLinkActive]="['active']" class="nav-item">
                    <a class="nav-link" (click)="toggleMenu()" routerLink="/activity-log">
                        <i class="bi bi-list-ul"> </i> {{ 'header.activity-log' | translate }}
                    </a>
                </li>
                <li [routerLinkActive]="['active']" class="nav-item">
                    <a class="nav-link" (click)="toggleMenu()" routerLink="/preferences">
                        <i class="bi bi-person-gear"> </i> {{ 'header.preferences' | translate }}
                    </a>
                </li>
            </div>
            <div class="bottom-area">
                <!-- LANGUAGE SWITCHING -->

				<li class="nav-item" *ngIf="selectedLanguage$ | async as selectedLanguage">
					<a
						role="button"
						*ngIf="selectedLanguage === Language.SL"
						class="nav-link pe-auto"
						(click)="setLanguage(Language.EN)"
					>
						<img class="language-icon" src="/assets/icons/slovenia_flag.svg" alt="Slovenia flag" />
						{{ 'header.switch-language-sl' | translate }}
					</a>
					<a
						role="button"
						*ngIf="selectedLanguage === Language.EN"
						class="nav-link"
						(click)="setLanguage(Language.SL)"
					>
						<img class="language-icon" src="/assets/icons/british_flag.svg" alt="British flag" />
						{{ 'header.switch-language-en' | translate }}
					</a>
				</li>
                <!-- LOG OUT -->
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['auth']" (click)="logout()">
                        <i class="bi bi-box-arrow-right"> </i> {{ 'header.logout' | translate }}
                    </a>
                </li>
                <!-- USER INFO -->
                <a class="d-flex border border-secondary rounded p-2 mt-3 nav-link">
                    <div class="profile-image-container me-3">
                        <!-- TODO: fix userImagePath-->
                        <img class="rounded" [appDefaultPhoto]="'assets/images/profile-image.png'" />
                    </div>
                    <div class="w-100">
                        <div>
                            <h4 class="text-white">Firstname Lastname</h4>
                        </div>
                    </div>
                </a>
            </div>
        </ul>
    </div>
</nav>