<div>
    <h2 class="fw-bold title-mobile overview">{{'privacy.privacy-policy' | translate}}</h2>
    <p>{{ 'privacy.subtitle' | translate }}</p>
    <h3 class="fw-bold title-mobile overview">1. {{ 'privacy.information-collection' | translate }}</h3>
    <p>{{ 'privacy.information-collection-description' | translate }}</p>    
    <h3 class="fw-bold title-mobile overview">2. {{ 'privacy.cookies' | translate }}</h3>
    <p>{{ 'privacy.cookies-description' | translate }}</p>
    <h3 class="fw-bold title-mobile overview">3. {{ 'privacy.information-use' | translate }}</h3>
    <p>{{ 'privacy.information-use-description' | translate }}</p>
    <h3 class="fw-bold title-mobile overview">4. {{ 'privacy.information-share' | translate }}</h3>
    <p>{{ 'privacy.information-share-description' | translate }}</p>
    <h3 class="fw-bold title-mobile overview">5. {{ 'privacy.security' | translate }}</h3>
    <p>{{ 'privacy.security-description' | translate }}</p>
    <h3 class="fw-bold title-mobile overview">6. {{ 'privacy.external-links' | translate }}</h3>
    <p>{{ 'privacy.external-links-description' | translate }}</p>    
    <h3 class="fw-bold title-mobile overview">7. {{ 'privacy.privacy-changes' | translate }}</h3>
    <p>{{ 'privacy.privacy-changes-description' | translate }}</p>
    <h3 class="fw-bold title-mobile overview">8. {{ 'privacy.contact' | translate }}</h3>
    <p>{{ 'privacy.contact-description' | translate }}</p>
    <p>{{ 'privacy.consent' | translate }}</p>
    <p>{{ 'privacy.ensurement' | translate }}</p>
</div>