.popup-content {
    padding: 20px;
    h2 {
        margin: 0;
        font-weight: 600;
    }
    .buttons {
        margin-top: 20px;
        text-align: end;
    }
}

.extra-content {
    margin-top: 1em;
}

.bold {
    font-weight: bold;
    margin-left: 5px;
}

.value-content {
    display: flex;
}