<h2 class="fw-bold title-mobile overview">{{'header.insights' | translate }}</h2>
<div *ngIf="insights$ | async as insights">
    <div class="d-flex align-items-center flex-column">
        <div class="d-flex flex-wrap">
            <div class="card mt-4 py-3 px-3 exported-variables stats">
                <i class="stats-icon bi bi bi-bar-chart"> </i>
                <div class="stats-content">
                    <div class="stats-title">{{'insights.total_num_projects' | translate }}</div>
                    <div class="stats-value">{{ insights.total_num_projects }}</div>
                </div>
            </div>
            <div class="card mt-4 py-3 px-3 exported-variables stats">
                <i class="stats-icon bi bi bi-bar-chart"> </i>
                <div class="stats-content">
                    <div class="stats-title">{{'insights.total_num_processes' | translate }}</div>
                    <div class="stats-value">{{ insights.total_num_processes }}</div>
                </div>
            </div>
            <div class="card mt-4 py-3 px-3 exported-variables stats">
                <i class="stats-icon bi bi bi-bar-chart"> </i>
                <div class="stats-content">
                    <div class="stats-title">{{'insights.total_num_activities' | translate }}</div>
                    <div class="stats-value">{{ insights.total_num_activities }}</div>
                </div>
            </div>
            <div class="card mt-4 py-3 px-3 exported-variables stats">
                <i class="stats-icon bi bi bi-bar-chart"> </i>
                <div class="stats-content">
                    <div class="stats-title">{{'insights.avg_processes_per_project' | translate }}</div>
                    <div class="stats-value">{{ insights.avg_processes_per_project }}</div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-wrap">
            <div class="card mt-4 py-3 px-3 exported-variables stats">
                <i class="stats-icon bi bi-bar-chart"> </i>
                <div class="stats-content">
                    <div class="stats-title">{{'insights.avg_grade_per_process' | translate }}</div>
                    <div class="stats-value">{{ insights.avg_grade_per_process }}</div>
                </div>
            </div>
            <div class="card mt-4 py-3 px-3 exported-variables stats">
                <i class="stats-icon bi bi-bar-chart"> </i>
                <div class="stats-content">
                    <div class="stats-title">{{'insights.avg_activities_per_process' | translate }}</div>
                    <div class="stats-value">{{ insights.avg_activities_per_process }}</div>
                </div>
            </div>
            <div class="card mt-4 py-3 px-3 exported-variables stats">
                <i class="stats-icon bi bi-bar-chart"> </i>
                <div class="stats-content">
                    <div class="stats-title">{{'insights.avg_duration_per_process' | translate }}</div>
                    <div class="stats-value">{{ insights.avg_duration_per_process }}</div>
                </div>
            </div>
            <div class="card mt-4 py-3 px-3 exported-variables stats">
                <i class="stats-icon bi bi-bar-chart"> </i>
                <div class="stats-content">
                    <div class="stats-title">{{'insights.avg_num_people_per_process' | translate }}</div>
                    <div class="stats-value">{{ insights.avg_num_people_per_process }}</div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-wrap">
            <div class="card mt-4 py-3 px-3 exported-variables stats">
                <div class="stats-content">
                    <div class="stats-title">{{'insights.version_max_duration' | translate }}</div>
                    <div class="stats-value">
                        <span>{{ insights.version_max_duration.project_name }}</span>
                        <span>{{ insights.version_max_duration.process_name }}</span>
                        <span>{{ insights.version_max_duration.version_number }}</span>
                    </div>
                </div>
            </div>
            <div class="card mt-4 py-3 px-3 exported-variables stats">
                <div class="stats-content">
                    <div class="stats-title">{{'insights.version_min_duration' | translate }}</div>
                    <div class="stats-value">
                        <span>{{ insights.version_min_duration.project_name }}</span>
                        <span>{{ insights.version_min_duration.process_name }}</span>
                        <span>{{ insights.version_min_duration.version_number }}</span>
                    </div>
                </div>
            </div>
            <div class="card mt-4 py-3 px-3 exported-variables stats">
                <div class="stats-content">
                    <div class="stats-title">{{'insights.version_max_num_people' | translate }}</div>
                    <div class="stats-value">
                        <span>{{ insights.version_max_num_people.project_name }}</span>
                        <span>{{ insights.version_max_num_people.process_name }}</span>
                        <span>{{ insights.version_max_num_people.version_number }}</span>
                    </div>
                </div>
            </div>
            <div class="card mt-4 py-3 px-3 exported-variables stats">
                <div class="stats-content">
                    <div class="stats-title">{{'insights.version_min_num_people' | translate }}</div>
                    <div class="stats-value">
                        <span>{{ insights.version_min_num_people.project_name }}</span>
                        <span>{{ insights.version_min_num_people.process_name }}</span>
                        <span>{{ insights.version_min_num_people.version_number }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4 py-3 px-3 exported-variables w-100">
        <div class="mt-4">
            <dx-chart
                id="chart"
                [title]="'insights.bar-chart-title' | translate"
                [dataSource]="barData"
                (onPointClick)="onPointClick($event)"
            >
                <dxi-series valueField="process_num" [name]="'insights.process_num' | translate"></dxi-series>
                <dxi-series valueField="version_num" [name]="'insights.version_num' | translate"></dxi-series>
                <dxo-common-series-settings
                    argumentField="name"
                    type="bar"
                    hoverMode="allArgumentPoints"
                    selectionMode="allArgumentPoints"
                >
                    <dxo-label
                    [visible]="true"
                    [format]="{
                        type: 'fixedPoint',
                        precision: 0
                    }"
                    >
                    </dxo-label>
                </dxo-common-series-settings>
                <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
                </dxo-legend>
                <dxo-export [enabled]="true"></dxo-export>
            </dx-chart>
        </div>
        <div class="d-flex mt-4 flex-row justify-content-evenly flex-wrap">
            <div *ngFor="let project of chartData">
                <dx-pie-chart
                id="pie"
                [title]="project.project_name + ' ' + ('insights.pie-chart-title' | translate)"
                palette="bright"
                [dataSource]="project.data"
                (onPointClick)="pointClickHandler($event)"
                (onLegendClick)="legendClickHandler($event)"
                >
                    <dxi-series argumentField="name" valueField="area">
                        <dxo-label [visible]="true">
                            <dxo-connector [visible]="true" [width]="1"></dxo-connector>
                        </dxo-label>
                    </dxi-series>
                    <dxo-size [width]="500"></dxo-size>
                    <dxo-export [enabled]="true"></dxo-export>
                </dx-pie-chart>
            </div>
        </div>
    </div>
</div>